

body {
  background-color: black;
  color: #eee;
  margin: 0;
  font-size: 22px;
  background-color: #000;
}

#title-section h1 {
  display: inline-block;
}

#links {
    display: inline-block;
    float: right;
}

h1, h2, h3 {
  text-align: center;
  margin-bottom: 0;
}

h1 {
  font-size: 1.6em;
}

h2 {
  font-size: 1.2em;
}

.note {
  font-size: 0.75em;
}

.btn {
    font-size: 0.9em;
    text-align: center;
    padding-left: auto;
    padding-right: auto;
}

section#meta-meta-group {
  display: block;
}

section.group {
  border: solid 1px white;
  border-radius: 5px;
  min-height: 10px;
  padding: 10px;
  margin: 10px 10px 0 10px;
  background-color: #333;
}

.alert {
  margin-bottom: 3px !important;
}

section.group.alerts {
  padding: 5px 10px 3px;
}

#status {
  display: flex;
  flex-wrap: wrap;
}

#status .controller {
  padding: 10px 0;
}

.col1, .col2 {
  flex-grow: 1;
  margin: 0 10px;
}


#trains, #years {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

#trains>div {
  text-align: center;
  padding-bottom: 10px;
}

#years>div {
  width: 25%;
  text-align: center;
  padding-bottom: 10px;
}


#time-current, #time-slip, #time-train, #next-train, #current-year {
  font-weight: 600;
  color: white;
  text-shadow: 0 0 2px white;
}

#next-train {
  margin-left: 20px;
  height: 1.4em;
  overflow: hidden;
}

.controller .btn {
    width: 5.5em;
}


@media only screen and (orientation: landscape) {
  body {
    font-size: 16px;
  }

  section#meta-meta-group {
    display: flex;
    align-items: stretch;
  }

  .meta-group1>.group {
    height: calc(100% - 10px);
  }

  section.meta-group1 {
    flex-basis: 30%;
  }

  section.meta-group2 {
    flex-basis: 70%;
  }

  .col1, .col2 {
    flex-grow: 1;
    margin: 0;
  }
}
