
#content {
  margin-left: auto;
  margin-right: auto;
  width: 650px;
}

#title, #title2 {
  font-size: 110%;
  text-align: center;
  font-weight: bold;
}

#title, #subtitle, #author {
  font-size: 110%;
  text-align: center;
  margin: 1.75in auto;
}

.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
}

.state {
  text-transform: uppercase;
}

.state:before, .city-solo:before {
  content: ' ';
  display: block;
}

.spacer {
  margin: 0;
}

.city {
  font-weight: bold;
  text-decoration: underline;
}

.carrier {

}

.yard {
  font-weight: bold;
}

.two-col {
  columns: 2;
}

.year {
  font-size: 75%;
}
